@charset "UTF-8";
@import url(reset.css);
b, strong {
  font-weight: normal;
  font-family: 'Roboto-Bold',sans-serif;
}

@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*, *:after, *:before {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.clearfix:before, .container:before,
.clearfix:after, .container:after {
  display: table;
  content: " ";
}

.clearfix:after, .container:after {
  clear: both;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.container {
  width: 990px;
  max-width: 100%;
  padding: 0 15px;
}

.laung {
  float: left;
}
.laung li {
  float: left;
}
.laung li a, .laung li span {
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto-Regular',sans-serif;
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.laung li a:hover, .laung li span {
  color: #ffdc00;
}
.laung li + li:before {
  content: '|';
  font-size: 15px;
  line-height: 17px;
  display: inline-block;
  margin: 0 2px;
  color: #fff;
}

.header-top {
  background: #4f177d;
  padding: 6px 0;
}

.header-body {
  padding: 22px 0;
}

.logo {
  float: left;
  max-width: 181.5px;
}

.nav {
  float: right;
  padding-top: 20px;
}
.nav li {
  float: left;
  margin-left: 54px;
}
.nav li.drop-cont {
  margin-left: 85px;
}
.nav li:first-child {
  margin-left: 0;
}
.nav li a, .nav li span {
  display: block;
  font-family: 'Roboto-Medium',sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #4f177d;
  padding-bottom: 20px;
  position: relative;
}
.nav li a:before, .nav li a:after, .nav li span:before, .nav li span:after {
  content: '';
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 0;
  height: 8px;
  background: #ffdc00;
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.nav li a:after, .nav li span:after {
  z-index: 4;
  left: auto;
  right: 0;
  background: #4f177d;
}
.nav li a:hover {
  color: #4f177d;
}
.nav li a:hover:before {
  width: 100%;
}
.nav li a:active:after {
  width: 100%;
}
.nav li span:after {
  width: 100%;
}

.under-header {
  margin-bottom: 15px;
}

.under-header-cont {
  border-top: 3px solid #500f7a;
  border-bottom: 3px solid #500f7a;
  background: #f5f1f7;
  padding: 15px 0;
  text-align: center;
  color: #000;
  font-family: 'Roboto-Light',sans-serif;
}
.under-header-cont div {
  width: 660px;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
}
.under-header-cont .txt-med {
  display: block;
  color: #4f177d;
}
.under-header-cont .txt-med:first-child {
  margin-bottom: 15px;
}
.under-header-cont .txt-med:last-child {
  margin-top: 21px;
}

.txt-med {
  font-family: 'Roboto-Medium',sans-serif;
}

.form-secton {
  padding: 0 0 35px;
}

.form-cont {
  overflow: hidden;
  margin-bottom: 22px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

.form-head {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background: #4f177d;
  padding: 11px 15px;
  font-family: 'Roboto-Medium',sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.form-body {
  padding: 35px 15px 50px;
  background: #f5f1f7;
}
.form-body form {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}

.field-area {
  margin: 0 0 17px !important;
  background: #fff;
  padding: 0 0 0 17px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.field-area .col {
  padding: 0;
  position: relative;
}
.field-area .col:before {
  content: '!';
  position: absolute;
  left: 100%;
  margin-left: 15px;
  top: 4px;
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  border: 2px solid #e30613;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 16px;
  font-family: 'Roboto-Bold',sans-serif;
  color: #e30613;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.field-area .col.error:before {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.field-area input, .field-area textarea {
  width: 100%;
  margin: 0;
  padding: 0 17px;
  height: 42px;
  border: 2px solid #b496cd !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  font-family: 'Roboto-Medium',sans-serif;
  font-size: 14px;
  color: #7a7a7a !important;
  -moz-box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
  -webkit-box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
  box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.field-area input[disabled], .field-area textarea[disabled] {
  opacity: 1;
  -webkit-text-fill-color: #7a7a7a;
}
.field-area textarea {
  padding: 17px;
  height: 150px;
  resize: vertical;
}
.field-area .col.error input, .field-area .col.error textarea {
  border-color: #e30613 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.textarea-field {
  padding: 0;
}
.textarea-field .col {
  padding: 0;
}

.field-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 13px 0;
  height: 38px;
  text-align: left;
  font-family: 'Roboto-Light',sans-serif;
}

.form-butt {
  cursor: pointer;
  margin-top: 8px;
  display: inline-block;
  border: none;
  padding: 12px 20px;
  background: #ffdc00;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  -moz-box-shadow: 2px 3px 5px rgba(246, 204, 8, 0.46);
  -webkit-box-shadow: 2px 3px 5px rgba(246, 204, 8, 0.46);
  box-shadow: 2px 3px 5px rgba(246, 204, 8, 0.46);
  text-align: center;
  color: #4f177d;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto-Medium',sans-serif;
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.form-butt:hover {
  color: #4f177d;
  -moz-box-shadow: 0px 0px 0px rgba(246, 204, 8, 0.46);
  -webkit-box-shadow: 0px 0px 0px rgba(246, 204, 8, 0.46);
  box-shadow: 0px 0px 0px rgba(246, 204, 8, 0.46);
}
.form-butt:active {
  background: #4f177d;
  color: #ffdc00;
}
.form-butt:focus {
  background: #ffdc00;
  color: #4f177d;
}

.head-block {
  padding: 12px 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #4f0f79;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Roboto-Medium',sans-serif;
}

.dropdown-content li {
  margin: 0 !important;
}

.block-cont {
  padding: 35px 15px;
  background: #f5f1f7;
}
.block-cont table {
  width: 220px;
  margin: 0 auto;
  max-width: 100%;
}
.block-cont table tr td {
  padding-bottom: 35px;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Roboto-Medium',sans-serif;
}
.block-cont table tr td:first-child {
  color: #4f177d;
  padding-right: 10px;
}

.block-it {
  text-align: center;
  padding-left: 8px;
}
.block-it input {
  display: inline-block;
  vertical-align: middle;
  width: 87px;
  margin: 0;
  padding: 0 15px;
  height: 38px;
  border: 2px solid #b496cd !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  font-family: 'Roboto-Medium',sans-serif;
  font-size: 18px;
  color: #7a7a7a !important;
  -moz-box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
  -webkit-box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
  box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  -moz-box-shadow: 3px 4px 4px 0 rgba(79, 16, 90, 0.5);
  -webkit-box-shadow: 3px 4px 4px 0 rgba(79, 16, 90, 0.5);
  box-shadow: 3px 4px 4px 0 rgba(79, 16, 90, 0.5);
}

.block-val {
  text-align: left;
  padding-left: 150px;
}
.block-val span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  font-family: 'Roboto-Medium',sans-serif;
  font-size: 18px;
}
.block-val span:first-child {
  margin-left: 0;
}

.range-box {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 19px;
  max-width: 100%;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.range-min, .range-plus {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #4f0f79;
  -moz-box-shadow: 2px 3px 5px rgba(79, 23, 125, 0.46);
  -webkit-box-shadow: 2px 3px 5px rgba(79, 23, 125, 0.46);
  box-shadow: 2px 3px 5px rgba(79, 23, 125, 0.46);
  text-align: center;
  line-height: 19px;
  color: #ffdc00;
  font-family: 'Roboto-Medium',sans-serif;
  font-size: 16px;
}

.range-plus {
  left: auto;
  right: 0;
}

.range {
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  width: 100%;
}

.noUi-background {
  background: #4f177d;
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  background: url(../images/rang.png) no-repeat;
  width: 30px;
  height: 35px;
  left: -9px;
  top: -13px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.noUi-horizontal .noUi-handle:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  width: 9px;
  height: 4px;
  background: #4f177d;
}

.block-it:last-child {
  margin-top: 45px;
  margin-bottom: 10px;
}
.block-it:last-child .range-box {
  margin-top: 25px;
}

.footer {
  position: relative;
  z-index: 5;
  margin-top: -48px;
  background: #522978;
  padding: 40px 0 0;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto-Light',sans-serif;
}
.footer .row {
  margin-bottom: 0;
}
.footer a {
  color: #fff;
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.footer a:hover, .footer a:focus {
  color: #4f177d;
}

.footer-list {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #000;
}
.footer-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 10px;
}
.footer-list li a, .footer-list li span {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.footer-list li a:hover, .footer-list li span {
  color: #ffdc00;
}

.footer-holder {
  margin-top: 40px;
  padding: 15px 0;
  background: #49266a;
  font-size: 12px;
  line-height: 24px;
  color: #a57eb7;
}
.footer-holder a {
  color: #a57eb7;
}
.footer-holder a:hover {
  text-decoration: underline;
  color: #a57eb7;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.above-footer {
  height: 48px;
}

.authorization {
  padding: 15px 0;
}
.authorization a.form-butt {
  margin-bottom: 25px;
}

.my-profile .block-cont table {
  width: 600px;
  max-width: 100%;
}

.my-order {
  margin: 0 0 20px;
}
.my-order .block-cont table {
  width: 600px;
  max-width: 100%;
}

.bank-cards {
  margin: 0 0 20px;
}

.bank-card {
  overflow: hidden;
  clear: both;
  margin-bottom: 20px;
}

.bank-card-it {
  float: left;
  position: relative;
  z-index: 5;
  width: 300px;
  height: 195px;
  background: url(../images/credit-card.png) no-repeat;
  background-size: cover;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.bank-card-it:before {
  content: '';
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 38px;
  opacity: 0;
  visibility: hidden;
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -webkit-transform: scale(5);
  transform: scale(5);
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.visa-card .bank-card-it:before {
  opacity: 1;
  visibility: visible;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background: url(../images/visa.png) no-repeat;
  background-size: cover;
}

.mastercard-card .bank-card-it:before {
  opacity: 1;
  visibility: visible;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background: url(../images/mastercard.png) no-repeat;
  background-size: cover;
}

.bank-card-it-back {
  float: left;
  position: relative;
  z-index: 1;
  margin-left: -150px;
  width: 300px;
  height: 182px;
  margin-top: 24px;
  border: 1px solid #fff;
  background: #35318e;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.bank-card-it-back__line {
  margin-top: 30px;
  height: 50px;
  background: #000;
}

.cvv-code {
  position: absolute;
  top: 90px;
  right: 30px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family: 'Roboto-Regular',sans-serif;
}
.cvv-code:before {
  content: 'CVV Код';
  display: block;
}
.cvv-code span {
  display: block;
}

.number_card {
  position: absolute;
  top: 105px;
  width: 100%;
  padding: 0 25px;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font-family: 'Roboto-Medium',sans-serif;
}

.noUi-base {
  cursor: pointer;
}

.year_card {
  position: absolute;
  bottom: 42px;
  left: 132px;
  width: 38px;
  text-align: center;
}
.year_card span {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 12px;
  font-family: 'Roboto-Light',sans-serif;
  color: #fff;
}

.bank-card__left, .bank-card__right {
  float: left;
  width: 50%;
}

.bank-card__right {
  padding-left: 15px;
}

.card-label {
  display: block;
  margin-bottom: 10px;
  color: #4f177d;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.card-info input {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  height: 38px;
  border: 2px solid #b496cd !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  font-family: 'Roboto-Medium',sans-serif;
  font-size: 14px;
  color: #4f177d !important;
  text-align: center;
  -moz-box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
  -webkit-box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
  box-shadow: 3px 4px 8px 0 rgba(79, 16, 90, 0.13);
}

.card-area {
  margin-bottom: 25px;
}

.card-area--ed input {
  display: inline-block;
  width: 70px;
  vertical-align: middle;
}

.card-area--3 input {
  width: 70px;
}

.radio {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.radio label {
  font-family: 'Roboto-Medium',sans-serif;
  color: #4f177d;
}
.radio [type="radio"]:checked + label:after, .radio [type="radio"].with-gap:checked + label:after {
  background: #4f177d;
  border-color: #4f177d;
}

.radio span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  font-family: 'Roboto-Medium',sans-serif;
  color: #4f177d;
  transition: .28s ease;
}
.radio span:before, .radio span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: .28s ease;
}
.radio span:after {
  border: 2px solid #5a5a5a;
}
.radio span.active:after {
  background: #4f177d;
  border-color: #4f177d;
}

.bank-card {
  position: relative;
}

.remove-card {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: red;
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 18px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.remove-card:hover {
  background: #b71313;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.popular {
  margin-bottom: 20px;
}
.popular .field-label {
  display: block;
  padding: 0;
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: 'Roboto-Medium',sans-serif;
  color: #4f177d;
}
.popular .form-cont {
  overflow: visible;
  clear: both;
}

.select-wrapper input.select-dropdown {
  color: #4f177d;
  font-family: 'Roboto-Regular',sans-serif;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #4f177d;
  font-family: 'Roboto-Regular',sans-serif;
}

.info-block__img img {
  margin: 0 auto;
}

.info-block__info {
  padding: 20px 0 0;
  font-family: 'Roboto-Regular',sans-serif;
  color: #000;
}

.thank {
  margin-bottom: 25px;
}

.mobile .bank-card__right {
  margin-top: 30px;
}

.user-drop {
  min-width: 300px;
}
.user-drop .user-name {
  padding: 10px;
  font-family: 'Roboto-Bold',sans-serif;
  color: #4f177d;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.user-drop ul {
  overflow: hidden;
}
.user-drop ul li {
  cursor: default;
  padding: 10px;
  border-bottom: 1px solid #cccaca;
}
.user-drop ul li span {
  padding: 0;
}
.user-drop ul li span:after, .user-drop ul li span:before {
  display: none;
}
.user-drop .exit {
  padding-top: 15px;
  display: block;
  text-align: center;
}

.dropdown-button .caret {
  display: inline-block;
  vertical-align: top;
  color: #4f177d;
  font-size: 10px;
  margin-left: 3px;
}

.mobile .bank-card__left {
  display: none;
}

.mobile .bank-card__right {
  width: 100%;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1199px) {
  .nav li.drop-cont {
    margin-left: 40px;
  }

  .nav li {
    margin-left: 30px;
  }
}
@media screen and (max-width: 992px) {
  .block-val {
    padding-left: 0;
    text-align: center;
  }

  .nav li a, .nav li span {
    font-size: 16px;
    line-height: 18px;
  }

  .nav li {
    margin-left: 15px;
  }

  .nav li.drop-cont {
    margin-left: 25px;
  }

  .bank-card__left, .bank-card__right {
    width: 100%;
  }

  .bank-card__right {
    padding-left: 0;
    margin-top: 35px;
  }
}
@media screen and (max-width: 767px) {
  .nav li:not(.no-hidden) {
    display: none;
  }

  .nav li.drop-cont li {
    display: block;
  }

  .block-cont table tr td {
    font-size: 14px;
    line-height: 18px;
  }

  .row .col.m6 {
    width: 100%;
  }

  .hamburger--collapse {
    cursor: pointer;
    float: right;
    margin-top: 17px;
    margin-left: 15px;
  }

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    border-radius: 4px;
    background-color: #000;
  }

  .hamburger-inner {
    display: block;
    margin-top: -2px;
    top: auto;
    bottom: 0;
    transition-delay: .15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: .15s;
  }

  .hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-delay: .15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 0.15s;
  }

  .hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: '';
  }

  .hamburger-inner:before {
    top: -10px;
  }

  .hamburger-inner:after {
    bottom: -10px;
  }

  .hamburger--collapse .hamburger-inner:after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  }

  .hamburger--collapse .hamburger-inner:before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .hamburger--collapse.active .hamburger-inner {
    transition-delay: .32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
  }

  .hamburger--collapse.active .hamburger-inner:after {
    top: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
    opacity: 0;
  }

  .hamburger--collapse.active .hamburger-inner:before {
    top: 0;
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .close-menu {
    cursor: pointer;
    position: absolute;
    z-index: 20;
    top: 5px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
  .close-menu:after, .close-menu:before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
  }
  .close-menu:after {
    bottom: 7px;
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    -ms-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
  }
  .close-menu:before {
    bottom: 16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .mobile-menu {
    z-index: 500;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    background: #4f0f79;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .mobile-menu ul {
    overflow: hidden;
  }
  .mobile-menu li {
    width: 100%;
    text-align: center;
    font-family: 'Roboto-Medium',sans-serif;
  }
  .mobile-menu li a, .mobile-menu li span {
    color: #fff;
  }
  .mobile-menu li a:hover, .mobile-menu li span {
    color: #ffdc00;
  }
  .mobile-menu.active {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  body.open-nav {
    overflow: hidden;
  }
}
@media screen and (max-width: 599px) {
  .my-order .block-cont table,
  .my-profile .block-cont table {
    width: 100%;
  }

  .block-cont table tr td {
    font-size: 12px;
    line-height: 16px;
  }
  .block-cont table tr td:first-child {
    width: 55%;
  }

  .info-block {
    width: 100%;
    margin-bottom: 20px;
  }

  .field-area .col {
    width: 100% !important;
  }

  .field-area {
    padding-left: 0 !important;
  }

  .field-label {
    padding-left: 15px;
  }

  .logo {
    max-width: 110px;
  }

  .nav li a, .nav li span {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .nav {
    padding-top: 10px;
  }

  .hamburger--collapse {
    margin-top: 5px;
  }

  .user-drop {
    margin-left: 60px;
  }
}
